---
import BaseHead from '../components/BaseHead.astro';
import SvelteTest from '../components/SvelteTest.svelte';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative h-screen w-full overflow-hidden">
    <!-- without client:load component would only be rendered on the server (no JS on the client and hence no state updates!) -->
    <SvelteTest client:load />
  </body>
</html>
