---
import { Icon } from 'astro-icon/components';
---

<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <aside class="flex gap-2 items-center">
    <p>Brought to you by Sejmou</p>
    <a
      class="flex items-center"
      target="_blank"
      href="https://github.com/Sejmou"
    >
      <Icon name="mdi:github" class="w-6 h-6" />
    </a>
  </aside>
</footer>
